.container {
    margin: 25px auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.header-container {
    width: 100%;
    order: 0;
    flex-wrap: wrap;
}

.main-container {
    width: 100%;
    order: 1;
    flex-wrap: wrap;
}

.footer-container {
    width: 100%;
    order: 2;
    flex-wrap: wrap;
}

.map-container {
    height: 30%;
}

.restaurant-container {
    height: 70%;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.select-boxes {
    text-align: center;
    margin:auto;
}

@media screen and (max-width: 1250px) {
    .container {
        max-width: 800px;
    }

    #restaurants-list {
        padding: 30px 15px 60px;
    }

}

@media screen and (max-width: 800px ) {
    .container {
        max-width: 500px;
    }

    #restaurants-list {
        padding: 30px 55px 60px;
    }
    
}

@media screen and (max-width: 550px) {
    .container {
        max-width: 400px;
    }

    #restaurants-list {
        padding: 30px 15px 60px;
    }

    .filter-options {
        height: 110px;
    }
}